@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

.parent{
  display: flex;
  flex-direction: row;
  position: absolute;
  top:110px;
  width: 100%;
  height: 800px;
}

.doneCol{
width: 24%;
height: 650px;
background-color: #f7f4f4;
border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
border-top-left-radius:20px;
border-top-right-radius:20px;
/* border: 1px solid #f7a16c ; */
/* margin: auto; */
}
.onProgressCol{
  width: 24%;
  height: 650px;
  background-color: #f7f4f4;
border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
/* margin: auto; */
border-top-left-radius:20px;
border-top-right-radius:20px;
/* border: 1px solid #fcdb58 ; */

}
.toDoCol{
position: relative;
width: 24%;
height: 650px;
background-color: #f7f4f4;
border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
border-top-left-radius:20px;
border-top-right-radius:20px;
/* border: 1px solid #92f7f2 ; */
/* margin: auto; */

}
.BacklogCol{
  width: 24%;
  height: 650px;
  background-color: #f7f4f4;
border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
border-top-left-radius:20px;
border-top-right-radius:20px;
/* border: 0.1px solid #637469 ; */


}
.cardsBacklog{
  width: 90%;
  height: 120px;
  border-radius: 5px;
  border:solid 1px;
  border-color: #3d3a39;
  margin: auto;
  margin-top: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: rgb(255, 254, 254);
}

.cardsToDo{
  width: 90%;
  height: 120px;
  border-radius: 5px;
  border:solid 1px;
  border-color: #4eb5f1;
  margin: auto;
  margin-top: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: rgb(255, 254, 254);
}

.cardsOnProgress{
  width: 90%;
  height: 120px;
  border-radius: 5px;
  border:solid 1px;
  border-color: #f3c81c;
  margin: auto;
  margin-top: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cardsDone{
  width: 90%;
  height: 120px;
  border-radius: 5px;
  border:solid 1px;
  border-color: #f1674e;
  margin: auto;
  margin-top: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: rgb(255, 254, 254);
}


.adv-round-rectangle{
  border-width: 2px 6px 2px 6px;
  border-style: double;
  border-color: #58575ae5;
  border-radius:60px 40px 60px 60px;
  -moz-border-radius:40px 40px 60px 60px;
  -webkit-border-radius:40px 40px 60px 60px;
  height: 50px;
  margin-bottom: 20px;
   }  
   .headings{
    font-family: 'Qwitcher Grypen', cursive;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin: auto;

   }

  .projectTitle{
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-style: italic;
    color: #5800FF;
    font-size: 50px;
    margin: auto;
    margin-bottom: 50px;

  }
  .content{
    display: flex;
    flex-direction: row;
  }
  .title{
    width: 50%;
    padding-left: 10px;
    color: #5800FF;

  }
  .status{
font-size: 9px;
  }
  .statusCircle{
    margin-top: 9px;
    margin-left: 30px;
    margin-right: 5px;
    width: 12px;
    height: 12px;
    border-radius: 15px;
    background-color: red;
    box-shadow: rgba(93, 50, 50, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  }

  .addIcon{
  font-size: 30px;
  color: #6a1df8;
  cursor: pointer;
  /* padding-top:15px;
  margin-left: 20px; */
  }

  .addIcon :hover{
    color: rgb(40, 77, 15);
  }
  .createHeading{
    font-size: 18px;
    font-weight: 700;
    margin-left: 10%;
    font-family: 'Merriweather', serif;



  }
  .createDiv{
    display: flex;
    flex-direction: row;
  }
  .windowPage{
    /* z-index: -1; */
    /* background-image: url(''); */
  }