
.availableWorkspaces{
position: relative;
margin:30px;
}
.connectedLine{
    position:absolute;
    height:80px;
    left: 0px  ;
    bottom: -55px;
    background-color: rgb(43, 41, 41);
    width: 5px;
    border-radius: 510px;
}
.environment{
    width: 100%;
    height: 500px;
    background-color: rgb(255, 253, 249);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px grey;
    /* background: url('https://cdn.dribbble.com/users/79571/screenshots/11289385/media/eeff533f077bb8b4624ee4b6480343ac.png') no-repeat fixed ; */
margin-bottom: 50px;
    /* background-image: none; */
    /* background-image: ; */
}
.fabb{
    z-index: 1 !important;
}
.addIcon{
    padding-top: 15x;
}
.primary{
    color: #212121
    /* background-color: rgb(6, 12, 104); */
    }
.secondary{
color: #616161
}
.warning{ 
    color: #607d8b
    }
.primary1 {
        background-color: #212121
        }
.secondary1 {
    background-color: #616161
    }
.warning1{
        background-color:#607d8b
        }
.env{
 font-size: 22px;
 margin-bottom: 30px;
        }