@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

.parent{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  width: 100%;
}

.doneCol{
width: 20%;
height: 80vh;
background-color: #f7f4f4;
border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
margin: auto;
}
.onProgressCol{
  width: 20%;
  height: 80vh;
background-color: #f7f4f4;
border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
margin: auto;

}
.toDoCol{
width: 20%;
height: 80vh;
background-color: #f7f4f4;
border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
margin: auto;

}
.BacklogCol{
  width: 20%;
  height: 80vh;
background-color: #f7f4f4;
border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
margin: auto;

}
.cardsBacklog{
  width: 90%;
  height: 100px;
  background-color: #94B49F;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cardsToDo{
  width: 90%;
  height: 100px;
  background-color: #CEE5D0;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cardsOnProgress{
  width: 90%;
  height: 80px;
  border-radius: 5px;
  border:solid 1px;
  border-color: #f3c81c;
  margin: auto;
  margin-top: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cardsDone{
  width: 90%;
  height: 100px;
  background-color: #ECB390;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


.adv-round-rectangle{
  border-width: 2px 12px 2px 12px;
  border-style: double;
  border-color: #738b7c;
  border-radius:40px 40px 60px 60px;
  -moz-border-radius:40px 40px 60px 60px;
  -webkit-border-radius:40px 40px 60px 60px;
  height: 50px;
  margin-bottom: 60px;
   }  
   .headings{
    font-family: 'Qwitcher Grypen', cursive;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin: auto;

   }
   .Backlog{
    border-color: #637469;
   }
   .ToDo{
    border-color: #92f7f2;
  }
  .Progress{
    border-color: rgb(252, 219, 88);
  }
  .Done{
    border-color: #f7a16c;
  }
  .projectTitle{
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-style: italic;
    color: #5800FF;
    font-size: 50px;
    margin: auto;
    margin-bottom: 50px;

  }
  .content{
    display: flex;
    flex-direction: row;
  }
  .title{
    width: 50%;
    padding-left: 10px;
    color: #5800FF;

  }
  .status{
font-size: 9px;
  }
  .statusCircle{
    margin-top: 9px;
    margin-left: 30px;
    margin-right: 5px;
    width: 12px;
    height: 12px;
    border-radius: 15px;
    background-color: red;
    box-shadow: rgba(93, 50, 50, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  }

  .addIcon{
  font-size: 30px;
  color: rgb(62, 136, 13);
  cursor: pointer;
  padding-top:15px;
  margin-left: 20px;
  }

  .addIcon :hover{
    color: rgb(40, 77, 15);
  }
  .createHeading{
    font-size: 18px;
    font-weight: 700;
    margin-left: 10%;
    font-family: 'Merriweather', serif;



  }
  .createDiv{
    display: flex;
    flex-direction: row;
  }